.note {
  padding:10px 10px 38px 34px;
  height: 40px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  color: #222;
  background-color: #eed;
  border-radius: 3px;
  box-shadow: 43x 3px 2px #333;
  opacity: 1;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeOut { from { opactiy:0.8; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;
}

.noteContent{
  float:left;
  padding-right: 70px;
  padding-bottom: 10px;
  display: block;
}

.closebtn {
    color: #AA9;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 1.3em;
}

.closebtn:hover {
    color: #AC2500;
}
